auto-install-peers=false

# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it causes issues with manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true

# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*

# In order to make eslint vscode extension to work
public-hoist-pattern[]=*eslint-plugin*

# Expo doesn't play nice with pnpm by default. 
# The symbolic links of pnpm break the rules of Expo monorepos.
# @link https://docs.expo.dev/guides/monorepos/#common-issues
# node-linker=hoisted